<div class="estilo">
    <h3 id="introduccion" class="text-center">INTRODUCCION</h3>
    <p  class="text-left"> Este va a ser un epacio designado a plasmar informacion sobre el programador 
        sus caracterizticas basicas y un breve resumen de lo que se verá en la pagina web.
    </p>
    <h3 id="hist" class="text-center">HISTORIA, MOTIVACIONES Y OBJETIVOS</h3>
    <p  class="text-left">Aqui habrá una breve historia de lo  que me motivó a programar, y como 
        eso logro llevarme hasta donde estoy ahora, que es lo que pienso hacer con todo conocimiento 
        adquirido y compartirlo con los lectores para fomentar el aprendizaje y el uso de la programación.
    </p>
    <h3 id="estudios" class="text-center">ESTUDIOS EN PROGRESO</h3>
    <p  class="text-left"> En esta zona pondré todo tipo de título educativo que tenga, asi como aquellos 
        estudios que aún estoy en progreso de terminar, unversidad, cursos de programacion, etc. 
    </p>
    <h3 id="experiencia" class="text-center">EXPERIENCIA, CURRICULUM VITALE</h3>
    <p  class="text-left"> Completar con información sobre proyectos realizados, trabajos en los que participé
        y adjuntaré mi curriculum para que los lectores puedan conocer mas a profundidad mis conocimientos y datos personales.
    </p>
    <h3 id="paginas" class="text-center">PAGINAS WEB</h3>
    <p  class="text-left"> Acá pondré las paginas webs realizadas. 
    </p>
    <h3 id="apps" class="text-center">APLICACIONES</h3>
    <p  class="text-left"> Espacio para poner aplicaciones desarrolladas.
    </p>
    <h3 id="proyectos" class="text-center">PROYECTOS EN DESARROLLO</h3>
    <p class="text-left"> Ya sean paginas web, aplicaciones o programas importante fuera de lo mencionado anteriormente
        se pondrá aquí para informar al lector en que está trabajadno el programador .
    </p>
    <h3 id="fortalezas" class="text-center">FORTALEZAS Y DEBILIDADES</h3>
    <p  class="text-left"> Desarrollaré fortalezas y debilidades de mi persona, y como afectarian tanto de 
        manera positiva como negativa, con la mayor transparencia, a aquel interesado en contratarme y/o contactarme para 
        mas información.
    </p>
</div>
